@{
    ViewBag.Title = "Yumms";
}
<head>
    <link rel="stylesheet" href="~/wwwroot\css\Main.css">
</head>
<main>
    <div class="header-logo">
        <img src="/photo/logo.png" alt="width=" 150 height="80">
    </div>
    <div id="main">
        <div class="nav">
            <a class="nav-item" href="@Url.Action("Wear", "Home")">ВЕРХНЯЯ ОДЕЖДА</a>
            <a class="nav-item" href="@Url.Action("Wear1", "Home")">ТОЛСТОВКИ</a>
            <a class="nav-item" href="@Url.Action("Wear2", "Home")">ФУТБОЛКИ</a>
            <a class="nav-item" href="@Url.Action("Wear3", "Home")">РУБАШКИ</a>
            <a class="nav-item" href="@Url.Action("Wear4", "Home")">ШТАНЫ</a>
            <a class="nav-item" href="@Url.Action("Wear5", "Home")">ШОРТЫ</a>
            <a class="nav-item" href="@Url.Action("Wear6", "Home")">СУМКИ</a>
            <a class="nav-item" href="@Url.Action("Wear7", "Home")">АКСЕССУАРЫ</a>
        </div>
    </div>
    <div id="photo-hit">
        <div style="margin: auto;">
            <div class="image-container">
                <img src="/Photo/________.jpg" alt="Изображение" width="240" height="210">
                <p class="info">
                    [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                </p>
                <p class="info"> WINDBREAKER in BLACK </p>
                <p class="info"> 9 999 ₽ </p>
            </div>
            <div class="image-container">
                <img src="/photo/2.jpg" alt="Изображение" width="240" height="210">
                <p class="info">
                    [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                </p>
                <p class="info"> WINDBREAKER in WHITE </p>
                <p class="info"> 9 999 ₽ </p>
            </div>
            <div class="image-container">
                <img src="/photo/3.jpg" alt="Изображение" width="240" height="210">
                <p class="info">
                    [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                </p>
                <p class="info"> WINDBREAKER in DARK GRAY </p>
                <p class="info"> 9 999 ₽ </p>
            </div>
            <div style="margin: auto;">
                <div class="image-container">
                    <img src="/photo/4.jpg" alt="Изображение" width="240" height="210">
                    <p class="info">
                        [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                    </p>
                    <p class="info"> WINDBREAKER in BLACK </p>
                    <p class="info"> 9 999 ₽ </p>
                </div>
                <div class="image-container">
                    <img src="/photo/5.jpg" alt="Изображение" width="240" height="210">
                    <p class="info">
                        [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                    </p>
                    <p class="info"> WINDBREAKER in WHITE </p>
                    <p class="info"> 9 999 ₽ </p>
                </div>
                <div class="image-container">
                    <img src="/photo/6.jpg" alt="Изображение" width="240" height="210">
                    <p class="info">
                        [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                    </p>
                    <p class="info"> WINDBREAKER in DARK GRAY </p>
                    <p class="info"> 9 999 ₽ </p>
                </div>
                <div style="margin: auto;">
                    <div class="image-container">
                        <img src="/photo/7.jpg" alt="Изображение" width="240" height="210">
                        <p class="info">
                            [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                        </p>
                        <p class="info"> WINDBREAKER in BLACK </p>
                        <p class="info"> 9 999 ₽ </p>
                    </div>
                    <div class="image-container">
                        <img src="/photo/8.jpg" alt="Изображение" width="240" height="210">
                        <p class="info">
                            [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                        </p>
                        <p class="info"> WINDBREAKER in WHITE </p>
                        <p class="info"> 9 999 ₽ </p>
                    </div>
                    <div class="image-container">
                        <img src="/photo/9.jpg" alt="Изображение" width="240" height="210">
                        <p class="info">
                            [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                        </p>
                        <p class="info"> WINDBREAKER in DARK GRAY </p>
                        <p class="info"> 9 999 ₽ </p>
                    </div>
                    <div style="margin: auto;">
                        <div class="image-container">
                            <img src="/photo/10.jpg" alt="Изображение" width="240" height="210">
                            <p class="info">
                                [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                            </p>
                            <p class="info"> WINDBREAKER in BLACK </p>
                            <p class="info"> 9 999 ₽ </p>
                        </div>
                        <div class="image-container">
                            <img src="/photo/11.jpg" alt="Изображение" width="240" height="210">
                            <p class="info">
                                [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                            </p>
                            <p class="info"> WINDBREAKER in WHITE </p>
                            <p class="info"> 9 999 ₽ </p>
                        </div>
                        <div class="image-container">
                            <img src="/photo/12.jpg" alt="Изображение" width="240" height="210">
                            <p class="info">
                                [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                            </p>
                            <p class="info"> WINDBREAKER in DARK GRAY </p>
                            <p class="info"> 9 999 ₽ </p>
                        </div>
                        <div style="margin: auto;">
                            <div class="image-container">
                                <img src="/photo/13.jpg" alt="Изображение" width="240" height="210">
                                <p class="info">
                                    [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                                </p>
                                <p class="info"> WINDBREAKER in BLACK </p>
                                <p class="info"> 9 999 ₽ </p>
                            </div>
                            <div class="image-container">
                                <img src="/photo/14.jpg" alt="Изображение" width="240" height="210">
                                <p class="info">
                                    [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                                </p>
                                <p class="info"> WINDBREAKER in WHITE </p>
                                <p class="info"> 9 999 ₽ </p>
                            </div>
                            <div class="image-container">
                                <img src="/photo/15.jpg" alt="Изображение" width="240" height="210">
                                <p class="info">
                                    [ПРЕДЗАКАЗ] YUMMS MONOGRAM
                                </p>
                                <p class="info"> WINDBREAKER in DARK GRAY </p>
                                <p class="info"> 9 999 ₽ </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>